$color: blue;

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
      @media (max-width: 37.5em) {
        @content;
      } //600px
    }
    @if $breakpoint == tab-port {
      @media (max-width: 56.25em) {
        @content;
      } //900px
    }
    @if $breakpoint == tab-land {
      @media (max-width: 75em) {
        @content;
      } //1200px
    }
    @if $breakpoint == big-desktop {
      @media (min-width: 112.5em) {
        @content;
      } //1800px
    }
  }

html {
    font-size: 62.5%;
    height: 100%;
    min-height: 100%;
  
    @include respond(tab-port) {
      font-size: 50%; // 1rem = 8px, 8/16 * 100 = 50%
    }
  
    @include respond(phone) {
      font-size: 45%; // 1rem = 8px, 8/16 * 100 = 50%
    }
}

body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%;
  // background: linear-gradient(
  //   to right,
  //   rgba(2, 0, 37, .9),
  //   rgba(0, 1, 0, 0.9) 
  // );
 
}

// ANIMATIONS

@keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(5rem);
    }
  
    80% {
      transform: translateY(-1rem);
    }
  
    100% {
      opacity: 1;
      transform: translate(0); 
    }
  }

  // @keyframes writeLetters {
  //   from {
  //     width: 0%;
  //   }
  //   to {
  //     width: 100%;
  //   }
  // }
  
  @keyframes blink-caret {
    from {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }

  @keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-15rem);
    }
  
    80% {
      transform: translateX(0rem);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(0rem);
    }
  
    50% {
      transform: translateX(-12rem);
    }
   
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }


  @-webkit-keyframes color-change {
    0% {
      color:white
    }

    30% {
      color: green
     
    }

    60% {
      // color: #eee
      color: #421DEF
    }
  
    80% {
      // color: yellow
      color: green
    }
  
    100% {
      opacity: 1;
      color: purple
    }
  }


  @-moz-keyframes color-change {
    0% {
      color:white
    }

    30% {
      // color: green
      color: #6666FF
    }

    60% {
      color: #eee
    }
  
    80% {
      // color: yellow
      color: green
    }
  
    100% {
      opacity: 1;
      color: purple
    }
  }
  


  @keyframes color-change {
    0% {
      color:white
    }

    30% {
      // color: green
      color: #6666FF
    }

    60% {
      color: #eee
    }
  
    80% {
      // color: yellow
      color: green
    }
  
    100% {
      opacity: 1;
      color: purple
    }
  }
  




#main-container{
    background-image: linear-gradient(
      to right,
      rgba(2, 0, 37, .9),
      rgba(0, 1, 0, 0.9)
    ),
    url("../assets/backImage.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.logo{
    height: 10rem;
    width: 18rem;
    margin: 2rem 0 2rem 4rem
}

.about{
    width: 100%;
    margin: 8vh auto;
    display: block;
    color: white
}

.greeting{
    font-size: 4rem;
    text-align: center;
    -webkit-animation: color-change 3s infinite 1s;
    -moz-animation: color-change 3s infinite 1s;
    animation: color-change 3s infinite 1s;
    padding: 0 4rem 1rem 4rem
}

.sales{
    text-align: center;
    font-size: 2rem;
    padding: 0 4rem;
    animation: moveInLeft 2s ease-out;
}

.sales-plus{
    text-align: center;
    font-size: 1.6rem;
    animation: moveInRight 2s ease-out;
}

.navigate-us{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 25vh;

    @media (max-width: 500px) {
        flex-direction: column;
        margin-top: 18vh;
      }

    @media (max-width: 320px) {
      
      margin-top: 10vh;
    }
}

.nav1{
    padding: 2.4rem 2.2rem;
    width: 25rem;
    background-image: linear-gradient(to right, rgba(#00039B, .9), rgba(#00039B, .5));
    text-align: center;
    text-decoration: none;
    font-size: 1.8rem;
    color: white;
    border-radius: 100px;
    // border: 1px solid white;
    font-weight: 500;
    position: relative;
    box-shadow: 0 2rem 2rem rgba(#000, 0.4);
    animation: moveInBottom 1s ease-out 0.7s;
    animation-fill-mode: backwards;
    cursor: pointer;
    transition: all 0.5s;
    

    &:hover, &:active, &:focus {
        background-image: linear-gradient(to right, rgba(#00039B, .4), rgba(#00039B, .8));
    }

    @media (max-width: 500px) {
        &:not(:last-child){
            margin-bottom: 4.2rem;
        }
      }
    
}

// LOGIN PAGE

#login-container{
    // background-image:linear-gradient(
    //     to right,
    //     rgba(2, 0, 37, .9),
    //     rgba(0, 1, 0, 0.9)
    //   );
     height: 100%;
    // padding-top: 1rem;
    
}

.form-wrap{
    //margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 33%;
    background-color: white;
    padding: 4rem 2rem 10rem 2rem;
    border-radius: 10px;
    transform: translate(-50%, -50%);

    @media (max-width: 700px){
      width: 40%;
    }

    @media (max-width: 570px){
      width: 50%;
    }

    @media (max-width: 450px){
      width: 60%;
    }

    @media (max-width: 380px){
      width: 65%;
    }

    @media (max-width: 320px){
      width: 70%;
    }

    @media (max-width: 280px){
      width: 80%;
    }
}

.form-title{
    color: #00039B;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    padding-bottom: 3.2rem;
}

.cover-input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 0  2% 0 1%;
    height: 4.5rem;
    margin-bottom: 2.6rem;
    border-radius: 5px;
    overflow: hidden;
    // pointer-events: none;

    // .parent:focus-within {
    //   border: 1px solid green;
    // }
}
.icon-container{
  width: 15%;
  // background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-icon{
    margin: 0 auto;
    vertical-align: middle;
    color: #00039B;
    width: 25%;
    height: 3rem;

    @media (max-width: 1000px){
      width: 34%;
      height: 5rem;
    }

}

.user-input{
    padding: 1rem 0rem 1rem 1rem;
    margin: 1rem 0 1rem 0rem;
    border: none;
    outline: none;
    width: 80%;
    border-left: 1px solid #eee;
    font-size: 1.4rem;
    // pointer-events: auto;
}

.label{
    display: block;
    margin: 0 auto;
    width: 70%;
    padding-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: 500;
    color: #62748E
}

.login-button{
    display: block;
    padding: 1.3rem 0;
    margin: 0 auto;
    border: none;
    width: 70%;
    background-image: linear-gradient(to right, rgba(#00039B, .9), rgba(#00039B, .6));
    text-align: center;
    text-decoration: none;
    font-size: 1.8rem;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    position: relative;
    transition: all 0.5s;
    margin-top: 5rem;
    cursor: pointer;

    &:hover, &:active, &:focus{
        background-image: linear-gradient(to right, rgba(#00039B, 1), rgba(#00039B, .7));
        outline: none !important;
        box-shadow: none;
    }
}

.my-spinner{
  width: "2.6rem"; 
  height: "2.6rem"
}

.login-logo{
    display: block;
    margin: 0 auto;
    height: 6rem;
    width: 10rem;
    margin-bottom: 6rem;
}


// ADMIN DASHBOARD

.title-bar{
  height: 5rem;
  background-color: #FAFAFA;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5; 
  
    .logout-icon{
      width: 2.5rem;
      height: 2.5rem;
      position: absolute;
      top: 50%;
      right: 5rem;
      transform: translateY(-50%);
      color: rgba(0, 0, 0, .6);


      @media (max-width: 580px){
       display: none;
      }

        &:hover{
          color: rgba(#00039B, .7);
        }
    }

    

    .menu-container{
      position: absolute;
      top: 50%;
      left: 12rem;
      font-size: 1.8rem;
      font-weight: 400;
      //transform: translateY(-50%);
      text-decoration: none;
      outline: none;
      transition: all .3s;

      @media (max-width: 450px){
        left: 1.5rem
      }


      .bar-menu{
        padding: 1rem;
        background-color: rgba(235, 235, 235, .6);
        border-radius: 5px;
        text-decoration: none;
        outline: none;
        cursor: pointer;

        &:hover, &:focus, &:active {
          background-color: rgba(230, 230, 230, 1);
          outline: none;
        }
      }
    }

    #menu-items{
      box-shadow: 1rem 2.5rem 3rem rgba(0, 0, 0, 0.3);
      margin-top: -0.8rem;
      border-radius: 5px;


      .item-button {        
        font-size: 1.5rem;
        outline: none;
        transition: all .3s;
        cursor: pointer;

        &:hover, &:focus, &:active {
          background: linear-gradient(to right, rgba(#00039B, .7), rgba(#00039B, .6), rgba(#00039B, .9));
          color: white
        }
      }
    }
    

    .bar-user{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media (max-width: 580px){
        right: 2rem;
        transform: translateY(-50%);
      }

      @media (max-width: 450px){
        left: 50%;
        transform: translate(-50%, -50%);
      }

      @media (max-width: 315px){
        display: none;
      }


      .bar-image{
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;

        @media (max-width: 408px){
          display: none;
        }
      }

      .bar-username{
        font-size: 1.7rem;
        padding-left: 2rem;
        color: rgba(0, 0, 0, .6)
      }

    }

    .logo-bar{
      height: 4rem;
      width: 6rem;
      position: absolute;
      top: 50%;
      left: 3rem;
      transform: translateY(-50%);

      @media (max-width: 450px){
        top: 50%;
        left: 85%;
        transform: translateY(-50%);
      }
    }

}

// HEADER

.header{
  height: 25rem;
  margin-top: 5rem;
  background-image: linear-gradient(
      to right,
      rgba(#0A1549, .75),
      rgba(#04365F, .9)
    ),
    url("../assets/admin-image2.jpg");

  display: flex;
  justify-content: center;
  //align-items: center;
  position: relative;
  background-size: cover;
  background-position: center;

  @media (max-width: 380px){
    justify-content: flex-start;
  }
  
  
    .header-greeting{
      font-size: 3rem;
      font-weight: 600;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align: center;
      margin-top: 7.5rem;
      color: white;

      @media (max-width: 450px){
       font-size: 2.5rem;
       font-weight: 600;
      }

      @media (max-width: 380px){
        margin-left: 3rem;
       }

       @media (max-width: 340px){
        margin-top: 8rem;
       }
    }

    .add-master{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 2rem;
      right: 7rem;
      outline: none;
      text-decoration: none;

        @media (max-width: 680px){
          right: 3rem
        }

        @media (max-width: 500px){
          right: 2rem;
          top: 1.2rem;
          transform: scale(.9);
        }

        @media (max-width: 405px){
          right: 1rem;
          top: 1rem;
          transform: scale(.7);
        }

       

    }

    .add-container{
      //position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      background-color: #fff;
      outline: none;
      transition: all .3s;
      text-decoration: none;

        &:hover, &:focus, &:active {
          background-color: rgba(purple, .2);
          outline: none;
          border: 1px dashed white;
          
          .add-logo{
            color: white
          }
        }


        .add-logo{
          width: 1.5rem;
          height: 1.5rem;
          color: rgba(#00039B, .7)
        }

       
    }

    .add-label{
      // position: absolute;
      // top: 7rem;
      // right: 5.5rem;
      padding-top: .6rem;
      color: white;

      @media (max-width: 560px){
        right: 2rem;
      }

      @media (max-width: 450px){
        top: 4.7rem;
        right: 2rem;
        font-size: .7rem;
      }

    }
}

.broadcast{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 1rem 1.8rem;
  background-color: white;
  border-radius: 10px;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  outline: none;
  text-decoration: none;
  transition: all .3s;

    @media (max-width: 300px){
      
    }

    &:hover{
      background-color: rgba(purple, .2);
      border: 1px dashed white;

      .broadcast-icon{
        color: white
      }

      .broadcast-text{
        &:link, &:visited{
          color: white;
        }
        
      }

    }

    .broadcast-icon{
      width: 2rem;
      height: 2rem;
      margin-right: 1rem;
      color: rgba(#00039B, .7);

      
    }

    .broadcast-text{
      &, &:link, &:visited{
        text-decoration: none;
        color: rgba(#00039B, .7);
        font-size: 1.4rem;
        font-weight: 600;
        outline: none;

        @media (max-width: 317px){
          font-size: 1.2rem;
        }
      }
    }
}


/*
    ********* CONTENT *************
*/

.content-view{
  padding: 1rem 2rem;
}

// ADMIN HOME

.admin-home-container{

}

.card-title-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3rem;
}

.card-title{
  font-size: 2rem;
  font-weight: 600;
  padding-left: 2.5rem;
  padding-right: .5rem;
  

}

.access-icon{
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  margin-top: -.5rem;

    &:last-child{
      margin-left: -.5rem
    }
}

.home-cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-wide{
  //flex-grow: 1;
  //flex-basis: 15rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4.5rem;
  height: 15rem;
  width: 20rem;
  border-radius: 5px;
  margin: 2rem 1rem;
  background: linear-gradient(to bottom right, rgba(#0A1549, .8),rgba(#04365F, 1));
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);

    &:hover{
      background: linear-gradient(to bottom right, rgba(190, 190, 190, .8),rgba(200, 200, 200, 1));

      .card-content{
        color: rgba(#00039B, .7)
      }
    }

    .card-content{
      font-size: 2.2rem;
      font-weight: 500;
      cursor: pointer;
      color: white;
    }
}


// DEPARTMENTS

.depts-container{
  margin: 0 auto;
  width: 70%;
  padding: 1rem 2rem 3rem 2rem;

  @media (max-width: 500px){
    width: 80%
  }

  @media (max-width: 450px){
    width: 85%
  }

  @media (max-width: 320px){
    width: 90%
  }
  
}

.dept{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  border-radius: 10px;
  //z-index: 1;

    &:not(:last-child){
      margin-bottom: 3rem;
    }
    
}

.dept1{
  background-image: linear-gradient(to bottom, rgba(#04365F, .6),
                    rgba(#04365F, .95)), 
                    url("../assets/hr3.jpg");
  background-size: cover;
  background-position: 2%;
  transition: all .2s;
  position: relative;

  &:hover, &:focus{
    background-image: linear-gradient(to bottom, rgba(#04365F, .85),
                      rgba(#04365F, 1)), 
                      url("../assets/hr3.jpg");
    .dept-text{
      transform: scale(.9);
      letter-spacing: 1px;
    }

    .dept-staff{
      transform: scale(.85);
    }
  }
}

.dept2{
  background-image: linear-gradient(to bottom, rgba(#04365F, .6),
                    rgba(#04365F, .95)), 
                    url("../assets/marketing.jpg");
  background-size: cover;
  background-position: 2%;
  transition: all .2s;
  position: relative;

  &:hover, &:focus{
    background-image: linear-gradient(to bottom, rgba(#04365F, .85),
                      rgba(#04365F, 1)), 
                      url("../assets/marketing3.jpg");
    .dept-text{
      transform: scale(.9);
      letter-spacing: 1px;
    }

    .dept-staff{
      transform: scale(.85);
    }
  }
}

.dept3{
  background-image: linear-gradient(to bottom, rgba(#04365F, .6),
                    rgba(#04365F, .95)), 
                    url("../assets/sales.jpg");
  background-size: cover;
  background-position: 2%;
  position: relative;
  transition: all .2s;

  &:hover, &:focus{
    background-image: linear-gradient(to bottom, rgba(#04365F, .85),
                      rgba(#04365F, 1)), 
                      url("../assets/sales.jpg");
    .dept-text{
      transform: scale(.9);
      letter-spacing: 1px;
    }

    .dept-staff{
      transform: scale(.85);
    }
  }
}


.dept4{
  background-image: linear-gradient(to bottom, rgba(#04365F, .6),
                    rgba(#04365F, .95)), 
                    url("../assets/account.jpg");
  background-size: cover;
  background-position: 2%;
  position: relative;
  transition: all .2s;

  &:hover, &:focus{
    background-image: linear-gradient(to bottom, rgba(#04365F, .85),
                      rgba(#04365F, 1)), 
                      url("../assets/account.jpg");
    .dept-text{
      transform: scale(.9);
      letter-spacing: 1px;
    }

    .dept-staff{
      transform: scale(.85);
    }
  }
}

.dept5{
  background-image: linear-gradient(to bottom, rgba(#04365F, .6),
                    rgba(#04365F, .95)), 
                    url("../assets/site.jpg");
  background-size: cover;
  background-position: 2%;
  position: relative;
  transition: all .2s;

  &:hover, &:focus{
    background-image: linear-gradient(to bottom, rgba(#04365F, .85),
                      rgba(#04365F, 1)), 
                      url("../assets/site.jpg");
    .dept-text{
      transform: scale(.9);
      letter-spacing: 1px;
    }

    .dept-staff{
      transform: scale(.85);
    }
  }
}

.dept-text{
  color: white;
  font-size: 2.7rem;
  font-weight: 800;
  transition: all .5s;
  letter-spacing: 3px;
  cursor: pointer;
}

.dept-topic{
   margin-bottom: 1.2rem; 
}

.dept-staff{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: .5rem;
  right: 3rem;
  transition: all .5s;

    .staff-icon{
      width: 2rem;
      height: 2rem;
      color: white;
      margin-right: 1rem;
      vertical-align: middle;
      margin-top: -1rem;
    }

    .staff-no{
      color: white;
      font-size: 1.7rem;
      font-weight: 600;
    }
}


// STAFF 

.staff-container{
  margin: 0 auto;
  width: 65%;
  padding: 1rem 2rem 3rem 2rem;

  @media (max-width: 840px){
    width: 80%
  }

  @media (max-width: 510px){
    width: 90%
  }

  @media (max-width: 450px){
    width: 95%
  }

  @media (max-width: 330px){
    width: 98%
  }
}

.staff{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  //padding: 0 8rem;

  // @media (max-width: 540px){
  //   padding: 0 4rem
  // }

  // @media (max-width: 430px){
  //   padding: 0 4rem 0 2rem
  // }

  // @media (max-width: 380px){
  //   padding: 0 2rem 0 1rem
  // }

  // @media (max-width: 330px){
  //   padding: 0 1rem 0 0rem
  // }

  &:not(:last-child){
    margin-bottom: 2rem;
  }
 
}

.staff-card{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding: 1rem 2rem;
  overflow: hidden;
  flex: 9;
  background-color: rgba(230, 230, 230, .2);
  border-radius: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  position: relative;
  transition: all .5s;

    &:hover, &:focus{
    
      background-color: rgba(230, 230, 230, .6);  
      .staff-image{
        transform: scale(1.2)
      }
      .staff-name{
        transform: scale(.85);
        color: rgba(0, 0, 0, 1);
      }
    }

    .staff-image{
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      margin-right: 7rem;
      transition: all .5s;

      @media (max-width: 570px){
        margin-right: 4rem;
      }

      @media (max-width: 380px){
        margin-right: 2rem;
      }
    }

    .staff-name{
      font-size: 2.2rem;
      font-weight: 500;
      color: rgba(0, 0, 0, .7);
      transition: all .5s;
      cursor: pointer;
      
    }

    .staff-dept{
      position: absolute;
      bottom: .01rem;
      right: 3rem;
    }
}

.fire-box{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .5s;
}

.fire-staff{
  //background-color: yellow;
  width: 2.2rem;
  height: 2.2rem;
  color: rgba(0, 0, 0, .5);
  transition: all .5s;
 
    &:hover{
      color: red;

      & ~ .fire-text{
        display: block;

        @media (max-width: 700px){
          display: none
        }
      }
    }
  
}

.fire-text{
  display: none;
  transition: all .5s;
}



// ADD STAFF

.add-staff-container{
  margin: 0 auto;
  width: 40%;
  padding-bottom: 3rem;

  @media(max-width: 1000px){
    width: 50%
  }

  @media(max-width: 740px){
    width: 58%
  }

  @media(max-width: 540px){
    width: 65%
  }

  @media(max-width: 495px){
    width: 73%
  }

  @media(max-width: 440px){
    width: 80%
  }

  @media(max-width: 400px){
    width: 85%
  }

  @media(max-width: 350px){
    width: 97%
  }
}

.add-form{
  padding: 3rem 3rem 5rem 3rem;
  box-shadow: 0 .2rem 1rem rgba(0, 0, 0, .5);
}

.add-form-title{
  
  font-size: 2.2rem;
  font-weight: 600;
 
}

.add-staff-icon{
  width: 3rem;
  height: 3rem;
  vertical-align: middle;
  margin-right: 1rem;
  margin-bottom: .8rem;
}

.add-form-group{
  margin-bottom: 1.5rem;
}

.input-file{
  display: none;
}

.new-file{
  margin: 0 auto;
  width: 50%;
  border: 1px solid rgba(#000, .2);
  outline: none;
  transition: all .3s;
  font-size: 1.5rem;
  margin-top: 3.5rem;
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  //justify-content: center;
  align-items: center;
  
    @media (max-width: 570px){
      width: 60%
    }

    @media (max-width: 330px){
      width: 67%
    }

    &:focus {
      box-shadow: 0 1rem 2rem rgba(#000, .1);
    }
}



.file-label{
  flex: 2;
  padding: 1rem .8rem;
  color: white;
  background-color: rgba(#00039B, .7);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  margin: 0;
  font-size: 1.4rem;

    @media (max-width: 290px){
      padding: 1rem 1rem;
    }

    &:hover, &:focus{
      background-color: rgba(230, 230, 230, 1);
    }
}

.test-file{
  margin: 0 auto;
  width: 70%;
  height: 4.5rem;
  border: 1px solid rgba(#000, .2);
  outline: none;
  transition: all .3s;
  font-size: 1.5rem;
  margin-top: 3.5rem;
  overflow: hidden;
  border-radius: 5px;
  position: relative;

    &:focus {
      box-shadow: 0 1rem 2rem rgba(#000, .1);
    }
  
}
.test-content{
  color: white;
  background-color: rgba(#00039B, .7);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  height: 100%;
  padding: 1.1rem 1.2rem;
  margin-right: 1.5rem;

    &:hover, &:focus{
      background-color: rgba(230, 230, 230, 1);
    }
}

.test-text{
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 9.5rem;

  transform: translateY(-50%);
}

.file-show-name{
  flex: 1.7;
  padding-top: 1rem;
  font-size: 1.1rem;
  text-align: center;
  

    @media (max-width: 640px){
     // padding-left: 1rem;
    }

    @media (max-width: 570px){
      // padding-left: 2rem;
    }
}

.add-input{
  margin: 0 auto;
  width: 70%;
  display: block;
  padding: 1.5rem 2rem;
  border: none;
  background-color: rgba(230, 230, 230, .35);
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  transition: all .3s;
  font-size: 1.5rem;

    &:focus {
      box-shadow: 0 1rem 2rem rgba(#000, .1);
      border-bottom: 3px solid #6d9c7d;
    }

    &:focus:invalid{
      border-bottom: 3px solid #ff7730;
    }

    &::-webkit-input-placeholder {
      color:  #999;
    }
}

.add-labels{
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 8.65rem !important;
  margin-top: .7rem;
  display: block;
  transition: all .4s;
}

.add-input:placeholder-shown ~ .add-labels{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.text-area{
  height: 9rem;
}

.radio{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 3rem;

  @media (max-width: 470px){
    justify-content: space-between;
  }
  @media (max-width: 360px){
    flex-direction: column;
   
    align-items: flex-start;
  }
}

.form-radio-group{
  display: inline-block;

  @media (max-width: 360px){
    margin-bottom: 2.5rem;
  }
}

.form-radio-input{
  display: none;
}

.form-radio-label{
  font-size: 1.8rem;
  cursor: pointer;  
  position: relative;
  padding-left: 4.5rem;
}

.form-radio-button{
  height: 3.2rem;  
  width: 3.2rem;
  border: 5px solid  #00039B;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -.45rem;
  left: 0;

    &::after {
      content: "";
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color:  #00039B;
      opacity: 0;
      transition: opacity .2s;
  }
}

.form-radio-input:checked ~ .form-radio-label .form-radio-button::after{
  opacity: 1;
}



// ALL FILES

.file-envelope{
  margin: 0 auto;
  padding: 2rem 3rem;
}

.file-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.single-file{
  height: 12rem;
  width: 22rem;
  //flex-grow: 1;
  border: 1px solid rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  transition: all .3s;
  margin-bottom: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
  
    // &:not(:last-child){
    //   margin-right: 1rem;
    // }

    // &:not(:first-child){
    //   margin-left: 1rem;
    // }

    &:hover, &:focus{
      transform: scale(1.1);
      background-color: rgba(230, 230, 230, .3);
      z-index: 2;
    }

    .file-description{
      height: 8.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 1.5rem;
      font-size: 1.2rem;

        .file-text{
          cursor: pointer;
        }
    }

    .file-detail{
      height: 3.5rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: rgba(230, 230, 230, .7);
      transition: all .3s;
      padding: 0 1rem;

        &:hover, &:focus{
          background-color: rgba(228, 228, 228, 1);
        }

        .file-name{
          font-size: 1rem;
          margin-top: .6rem;
          font-weight: 500;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          cursor: pointer;

            .file-icon{
              width: 2rem;
              height: 2rem;
              vertical-align: middle;
              color: red;
              margin-right: 1rem;
            }

            .file-file-name{
              font-size: 1rem;
              display: inline-block;
              padding-top: 1rem;
            }
        }

        .file-download{
          width: 1.4rem;
          height: 1.4rem;
          margin-left: 1.3rem;
          color:  rgba(0, 0, 0, .6);
          transition: all .2s;

            &:hover, &:focus{
              color: #00039B
            }
        }
    }
}


// STAFF HEADER

.staff-header{
  height: 30rem;
  margin-top: 5rem;
  background-image: linear-gradient(
      to right,
      rgba(#0A1549, .85),
      rgba(#04365F, .95)
    ),
    url("../assets/user2.jpg");

  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  position: relative;
  background-size: cover;
  background-position: center;
  padding-left: 12rem;

  @media (max-width: 680px){
    padding-left: 6rem;
  }

  @media (max-width: 530px){
    padding-left: 3rem;
  }

  @media (max-width: 306px){
   padding-left: 1.5rem;
  }
  
}

.user-img{
  width: 18.5rem;
  height: 18.5rem;
  border-radius: 50%;
  // position: relative;

  @media (max-width: 450px){
    width: 15rem;
    height: 15rem;
  }

  @media (max-width: 370px){
    width: 12.5rem;
    height: 12.5rem;
  }


}

.user-details{
  margin-left: 6rem;
  margin-top: 3rem;
  color: white;
  

  @media (max-width: 530px){
    margin-left: 3rem;
  }

  @media (max-width: 380px){
    margin-left: 2rem;
  }

  @media (max-width: 340px){
    transform: scale(.8);
    margin-left: .2rem;
  }

  @media (max-width: 306px){
    
    margin-left: 0;
  }

    .user-name{
      font-size: 2.9rem;
      font-weight: 400;
      margin-bottom: 0;
      //font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .user-infos{
      font-size: 1.5rem;
      padding: 0;
      margin: 0;
    }
}

.mydp{
  position: absolute;
  bottom: 1.8rem;
  left: 16rem;
  transition: all .5s;

    @media (max-width: 680px){
      left: 10rem
    }

    @media (max-width: 530px){
      left: 7rem
    }

    @media (max-width: 450px){
      left: 5rem;
      bottom: 3.7rem;
      transform: scale(.95);
    }

    @media (max-width: 370px){
      left: 3.5rem;
      bottom: 5.2rem;
      transform: scale(.8);
    }

    @media (max-width: 305px){
      left: 2rem;
    }

    &:hover, &:focus{
      transform: scale(1.1);
      
    }

    .input-dp{
      display: none;
    }

    .dp-placeholder{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      color: whitesmoke;
      transition: all .3s;

        &:hover, &:focus{
          color: rgba(#eee, .7)
        }

        .file-icon{
          vertical-align: middle;
          margin-left: 1rem;
          margin-top: -1rem;
        }
    }
  
}

.user-rank{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 6rem;
  right: 6rem;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: 2px solid white;
  color: white;
  font-size: 1.4rem;
  font-weight: 500;

  @media (max-width: 650px){
    transform: scale(.9);
  }

  @media (max-width: 570px){
    transform: scale(.85);
    top: 3rem;
    right: 3rem
  }

  @media (max-width: 450px){
    transform: scale(.75);
    right: 1rem
  }

  @media (max-width: 405px){
    top: 1rem;
    right: .5rem;
    transform: scale(.65);
  }

  @media (max-width: 306px){
    transform: scale(.6);
  }
}


// STAFF DETAILS

.details-cover{
  margin: 0 auto;
  width: 45%;
  margin-top: 2rem;
  margin-bottom: 4rem;

    @media (max-width: 1100px){
      width: 50%
    }

    @media (max-width: 1000px){
      width: 55%
    }

    @media (max-width: 910px){
      width: 60%
    }

    @media (max-width: 710px){
      width: 65%
    }

    @media (max-width: 660px){
      width: 70%
    }

    @media (max-width: 610px){
      width: 75%
    }

    @media (max-width: 530px){
      width: 80%
    }

    @media (max-width: 470px){
      width: 85%
    }

    @media (max-width: 450px){
      width: 92%
    }

    @media (max-width: 360px){
      width: 96%
    }
}

.details-container{
  padding:  3rem 3rem;
  box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .5);
  
}

.details-image{
  display: block;
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.details-content{
  width: 90%;
  margin: 0 auto;
  margin-top: 5rem;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 5px;
  
    @media (max-width: 490px){
      width: 95%;
    }
}

.details-title{
  padding: 1rem 0;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.basic-details{
  margin: 3rem 2rem;
  @media (max-width: 420px){
    margin-left: 4rem;
  }
}

.details-text{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, .8);

    @media (max-width: 410px){
      flex-direction: column;
      align-items: flex-start;
    }
}

.details-span{
  color: rgba(0, 0, 0, .5)
}

.text-text{
  word-break: break-all; 
  @media (max-width: 420px){
    padding-bottom: 1.2rem;
  }
}