html {
  font-size: 62.5%;
  height: 100%;
  min-height: 100%; }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 45%; } }

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%; }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes writeLetters {
  from {
    width: 0%; }
  to {
    width: 100%; } }

@keyframes blink-caret {
  from {
    border-color: transparent; }
  50% {
    border-color: orange; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-15rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(15rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@-webkit-keyframes color-change {
  0% {
    color: white; }
  30% {
    color: green; }
  60% {
    color: #421DEF; }
  80% {
    color: green; }
  100% {
    opacity: 1;
    color: purple; } }

@-moz-keyframes color-change {
  0% {
    color: white; }
  30% {
    color: #6666FF; }
  60% {
    color: #eee; }
  80% {
    color: green; }
  100% {
    opacity: 1;
    color: purple; } }

@keyframes color-change {
  0% {
    color: white; }
  30% {
    color: #6666FF; }
  60% {
    color: #eee; }
  80% {
    color: green; }
  100% {
    opacity: 1;
    color: purple; } }

#container {
  background-image: linear-gradient(to right, rgba(2, 0, 37, 0.9), rgba(0, 1, 0, 0.9)), url("../assets/backImage.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; }

.logo {
  height: 10rem;
  width: 18rem;
  margin: 2rem 0 2rem 4rem; }

.about {
  width: 100%;
  margin: 8vh auto;
  display: block;
  color: white; }

.greeting {
  font-size: 4rem;
  text-align: center;
  -webkit-animation: color-change 3s infinite 1s;
  -moz-animation: color-change 3s infinite 1s;
  animation: color-change 3s infinite 1s;
  padding: 0 4rem; }

.sales {
  text-align: center;
  font-size: 2rem;
  padding: 0 4rem;
  animation: moveInLeft 2s ease-out; }

.sales-plus {
  text-align: center;
  font-size: 1.6rem;
  animation: moveInRight 2s ease-out; }

.navigate {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 25vh; }
  @media (max-width: 500px) {
    .navigate {
      flex-direction: column;
      margin-top: 18vh; } }
  @media (max-width: 320px) {
    .navigate {
      margin-top: 10vh; } }

.nav1 {
  padding: 2.4rem 2.2rem;
  width: 20rem;
  background-image: linear-gradient(to right, rgba(0, 3, 155, 0.9), rgba(0, 3, 155, 0.5));
  text-align: center;
  text-decoration: none;
  font-size: 1.8rem;
  color: white;
  border-radius: 100px;
  font-weight: 500;
  position: relative;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.4);
  animation: moveInBottom 1s ease-out 0.7s;
  animation-fill-mode: backwards;
  cursor: pointer;
  transition: all 0.5s; }
  .nav1:hover, .nav1:active, .nav1:focus {
    background-image: linear-gradient(to right, rgba(0, 3, 155, 0.4), rgba(0, 3, 155, 0.8)); }
  @media (max-width: 500px) {
    .nav1:not(:last-child) {
      margin-bottom: 4.2rem; } }

#login-container {
  height: 100%; }

.form-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 33%;
  background-color: white;
  padding: 4rem 2rem 10rem 2rem;
  border-radius: 10px;
  transform: translate(-50%, -50%); }
  @media (max-width: 700px) {
    .form-wrap {
      width: 40%; } }
  @media (max-width: 570px) {
    .form-wrap {
      width: 50%; } }
  @media (max-width: 450px) {
    .form-wrap {
      width: 60%; } }
  @media (max-width: 380px) {
    .form-wrap {
      width: 65%; } }
  @media (max-width: 320px) {
    .form-wrap {
      width: 70%; } }
  @media (max-width: 280px) {
    .form-wrap {
      width: 80%; } }

.form-title {
  color: #00039B;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  padding-bottom: 3.2rem; }

.cover-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0  2% 0 1%;
  height: 4.5rem;
  margin-bottom: 2.6rem;
  border-radius: 5px;
  overflow: hidden; }

.icon-container {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.user-icon {
  margin: 0 auto;
  vertical-align: middle;
  color: #00039B;
  width: 25%;
  height: 3rem; }
  @media (max-width: 1000px) {
    .user-icon {
      width: 34%;
      height: 5rem; } }

.user-input {
  padding: 1rem 0rem 1rem 1rem;
  margin: 1rem 0 1rem 0rem;
  border: none;
  outline: none;
  width: 80%;
  border-left: 1px solid #eee; }

.label {
  display: block;
  margin: 0 auto;
  width: 75%;
  padding-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: 500;
  color: #62748E; }

.login-button {
  display: block;
  padding: 1.3rem 0;
  margin: 0 auto;
  width: 76%;
  background-image: linear-gradient(to right, rgba(0, 3, 155, 0.9), rgba(0, 3, 155, 0.6));
  text-align: center;
  text-decoration: none;
  font-size: 1.8rem;
  color: white;
  border-radius: 5px;
  font-weight: 500;
  position: relative;
  transition: all 0.5s;
  margin-top: 5rem;
  cursor: pointer; }
  .login-button:hover, .login-button:active, .login-button:focus {
    background-image: linear-gradient(to right, #00039b, rgba(0, 3, 155, 0.7)); }

.login-logo {
  display: block;
  margin: 0 auto;
  height: 6rem;
  width: 10rem;
  margin-bottom: 6rem; }

.title-bar {
  height: 5rem;
  background-color: #FAFAFA;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5; }
  .title-bar .logout-icon {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 50%;
    right: 5rem;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.6); }
    @media (max-width: 580px) {
      .title-bar .logout-icon {
        display: none; } }
    .title-bar .logout-icon:hover {
      color: rgba(0, 3, 155, 0.7); }
  .title-bar .menu-container {
    position: absolute;
    top: 50%;
    left: 12rem;
    font-size: 1.8rem;
    font-weight: 400;
    transform: translateY(-50%); }
    @media (max-width: 450px) {
      .title-bar .menu-container {
        left: 1.5rem; } }
    .title-bar .menu-container .bar-menu {
      padding: 1rem;
      background-color: rgba(235, 235, 235, 0.6);
      border-radius: 5px;
      cursor: pointer; }
      .title-bar .menu-container .bar-menu:hover, .title-bar .menu-container .bar-menu:focus, .title-bar .menu-container .bar-menu:active {
        background-color: #e6e6e6; }
  .title-bar .bar-user {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media (max-width: 580px) {
      .title-bar .bar-user {
        right: 2rem;
        transform: translateY(-50%); } }
    @media (max-width: 450px) {
      .title-bar .bar-user {
        left: 50%;
        transform: translate(-50%, -50%); } }
    @media (max-width: 315px) {
      .title-bar .bar-user {
        display: none; } }
    .title-bar .bar-user .bar-image {
      width: 4.5rem;
      height: 4.5rem;
      border-radius: 50%; }
      @media (max-width: 408px) {
        .title-bar .bar-user .bar-image {
          display: none; } }
    .title-bar .bar-user .bar-username {
      font-size: 1.7rem;
      padding-left: 2rem;
      color: rgba(0, 0, 0, 0.6); }
  .title-bar .logo-bar {
    height: 4rem;
    width: 6rem;
    position: absolute;
    top: 50%;
    left: 3rem;
    transform: translateY(-50%); }
    @media (max-width: 450px) {
      .title-bar .logo-bar {
        top: 50%;
        left: 85%;
        transform: translateY(-50%); } }

.header {
  height: 25rem;
  margin-top: 5rem;
  background-image: linear-gradient(to right, rgba(10, 21, 73, 0.75), rgba(4, 54, 95, 0.9)), url("../assets/admin-image2.jpg");
  display: flex;
  justify-content: center;
  position: relative;
  background-size: cover;
  background-position: center; }
  @media (max-width: 380px) {
    .header {
      justify-content: flex-start; } }
  .header .menu-items {
    position: fixed;
    top: 5rem;
    left: 12rem;
    display: flex;
    flex-direction: column;
    opacity: 0;
    padding: 3rem 0 1rem 0;
    background-color: #eee;
    border-radius: 5px; }
    @media (max-width: 450px) {
      .header .menu-items {
        left: 1.5rem;
        z-index: 10; } }
    .header .menu-items .cancel {
      width: 1.5rem;
      height: 1.5rem;
      position: absolute;
      top: 1rem;
      right: 1rem;
      color: red; }
      .header .menu-items .cancel:hover {
        color: rgba(0, 3, 155, 0.8); }
    .header .menu-items .item-button {
      padding: .3rem 2rem;
      width: 18rem;
      margin: 0 auto;
      cursor: pointer;
      font-size: 1.5rem;
      transition: background-Image .7s;
      background: rgba(230, 230, 230, 0.8);
      text-decoration: none;
      color: black; }
      .header .menu-items .item-button:not(:last-child) {
        margin-bottom: .2rem; }
      .header .menu-items .item-button:hover, .header .menu-items .item-button:focus, .header .menu-items .item-button:active {
        background: linear-gradient(to right, rgba(0, 3, 155, 0.7), rgba(0, 3, 155, 0.6), rgba(0, 3, 155, 0.9));
        color: white; }
  .header .header-greeting {
    font-size: 3rem;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 7.5rem;
    color: white; }
    @media (max-width: 450px) {
      .header .header-greeting {
        font-size: 2.5rem;
        font-weight: 600; } }
    @media (max-width: 380px) {
      .header .header-greeting {
        margin-left: 3rem; } }
    @media (max-width: 340px) {
      .header .header-greeting {
        margin-top: 8rem; } }
  .header .add-master {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2rem;
    right: 7rem; }
    @media (max-width: 680px) {
      .header .add-master {
        right: 3rem; } }
    @media (max-width: 500px) {
      .header .add-master {
        right: 2rem;
        top: 1.2rem;
        transform: scale(0.9); } }
    @media (max-width: 405px) {
      .header .add-master {
        right: 1rem;
        top: 1rem;
        transform: scale(0.7); } }
  .header .add-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #fff; }
    .header .add-container:hover, .header .add-container:focus, .header .add-container:active {
      background-color: rgba(128, 0, 128, 0.2);
      border: 1px dashed white; }
      .header .add-container:hover .add-logo, .header .add-container:focus .add-logo, .header .add-container:active .add-logo {
        color: white; }
    .header .add-container .add-logo {
      width: 1.5rem;
      height: 1.5rem;
      color: rgba(0, 3, 155, 0.7); }
  .header .add-label {
    color: white; }
    @media (max-width: 560px) {
      .header .add-label {
        right: 2rem; } }
    @media (max-width: 450px) {
      .header .add-label {
        top: 4.7rem;
        right: 2rem;
        font-size: .7rem; } }

.broadcast {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 1rem 1.8rem;
  background-color: white;
  border-radius: 10px;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%); }
  .broadcast:hover {
    background-color: rgba(128, 0, 128, 0.2);
    border: 1px dashed white; }
    .broadcast:hover .broadcast-icon {
      color: white; }
    .broadcast:hover .broadcast-text:link, .broadcast:hover .broadcast-text:visited {
      color: white; }
  .broadcast .broadcast-icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    color: rgba(0, 3, 155, 0.7); }
  .broadcast .broadcast-text, .broadcast .broadcast-text:link, .broadcast .broadcast-text:visited {
    text-decoration: none;
    color: rgba(0, 3, 155, 0.7);
    font-size: 1.4rem;
    font-weight: 600; }
    @media (max-width: 317px) {
      .broadcast .broadcast-text, .broadcast .broadcast-text:link, .broadcast .broadcast-text:visited {
        font-size: 1.2rem; } }

/*
    ********* CONTENT *************
*/
.content-view {
  padding: 7rem 2rem; }

.card-title-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }

.card-title {
  font-size: 2rem;
  font-weight: 600;
  padding-left: 2.5rem;
  padding-right: .5rem; }

.access-icon {
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
  padding: 0;
  margin: 0; }
  .access-icon:last-child {
    margin-left: -.5rem; }

.home-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap; }

.card {
  flex-grow: 1;
  flex-basis: 15rem;
  text-align: center;
  padding: 4.5rem;
  border-radius: 5px;
  margin: 2rem 1rem;
  background: linear-gradient(to bottom right, rgba(10, 21, 73, 0.8), #04365f);
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3); }
  .card:hover {
    background: linear-gradient(to bottom right, rgba(190, 190, 190, 0.8), #c8c8c8); }
    .card:hover .card-content {
      color: rgba(0, 3, 155, 0.7); }
  .card .card-content {
    font-size: 2.2rem;
    font-weight: 500;
    cursor: pointer;
    color: white; }
